@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root{
  --small: 0px;
}

input {
  display: inline;
  background: #0f0f0f;
  color: white;
  font-size: 2.375rem;
  width: 3.2vw;
  height: 4vw;
  text-align: center;
  outline: none;
  border: none;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #070707;

}
#container {
  background-color: #070707;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.7vw;
  /* padding-left: 19vw;
  padding-top: 2.4vh;
  padding-bottom: 0px;
  padding-right: 1.2vw; */

}

#grid {
  background-color: black;
  padding: 1.5vw;
  display: grid;
  grid-template-columns: repeat(17, auto);
  grid-template-rows: repeat(9, auto);
  justify-content: center;
  grid-gap: .38vw;
  width: 60vw + 6.72vw;

}
.options {
  margin-right: 60px;
}

.optionees {
  position: absolute;
  height: 2.2vw;
  width: 5.9vw;
  padding-left: .8vw;
  padding-right: .8vw;
  padding-top: 2.68vw;
  padding-bottom: 2.68vw;
  border-radius: 3.18vw;
  font-size: 2rem;
  text-align: center;
  background-color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  font-family: "Varela Round", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.setPOS {
  top: var(--topPOS);
  left: var(--leftPOS);
}

.touching {
  height: 2.08vw;
  animation-name: shrink;
  animation-duration: 70ms;
  animation-timing-function: linear;
  animation-direction: normal;
  padding-left: .26vw;
  padding-right: .26vw;
  padding-top: 2.08vw;
  padding-bottom: 2.08vw;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.squeeze {
  height: 2.08vw;
  top: var(--endTopPOS);
  left: var(--endLeftPOS);
  padding-left: .26vw;
  padding-right: .26vw;
  padding-top: 2.08vw;
  padding-bottom: 2.08vw;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.loose{
  height: 2.08vw;
  top: var(--topPOS);
  left: var(--leftPOS);
  padding-left: .8vw;
  padding-right: .8vw;
  padding-top: 2.68vw;
  padding-bottom: 2.68vw;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
}
.go-back {
  height: 2.08vw;
  animation-name: expand;
  animation-duration: 70ms;
  animation-timing-function: linear;
  padding-left: .8vw;
  padding-right: .8vw;
  padding-top: 2.68vw;
  padding-bottom: 2.68vw;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
}

@keyframes shrink {
  0% {
    height: 2.08vw;
    top: var(--topPOS);
    left: var(--leftPOS);
    padding-left: .8vw;
    padding-right: .8vw;
    padding-top: 2.68vw;
    padding-bottom: 2.68vw;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  }
  50%{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  100% {
    height: 2.08vw;
    top: var(--endTopPOS);
    left: var(--endLeftPOS);
    padding-left: .26vw;
    padding-right: .26vw;
    padding-top: 2.08vw;
    padding-bottom: 2.08vw;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
@keyframes expand {
  0% {
    height: 2.08vw;
    top: var(--endTopPOS);
    left: var(--endLeftPOS);
    padding-left: .26vw;
    padding-right: .26vw;
    padding-top: 2.08vw;
    padding-bottom: 2.08vw;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  50%{
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  }
  100% {
    height: 2.08vw;
    top: var(--topPOS);
    left: var(--leftPOS);
    padding-left: .8vw;
    padding-right: .8vw;
    padding-top: 2.68vw;
    padding-bottom: 2.68vw;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  }
}

@keyframes appear {
  0% {
    margin-left: 1860px;
    background-color: white;
  }

  100% {
    margin-left: 1610px;
    background-color: white;
  }
}
@media only screen and (max-width: 1000px){
  
  #container{
    display: block;
    justify-content:stretch;
  }
  #grid{
    width: auto;
  }
  
}
