@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
input {
  background: #0f0f0f;
  color: white;
  font-size: 38px;
  width: 60px;
  height: 72px;
  text-align: center;
  outline: none;
  border: none;
  font-family: "Varela Round", sans-serif;
}
body {
  background-color: #070707;
}
#container {
  background-color: #070707;
  display: flex;
  padding-left: 320px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-right: 20px;
}
table {
  background-color: black;
  padding: 30px;
  display: inline-table;
  border-spacing: 5px;
}

.play {
  height: 40px;

  margin-left: 90px;
  margin-top: 330px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;

  border-radius: 60px;
  font-size: 32px;
  background-color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  font-family: "Varela Round", sans-serif;
}

.touching {
  height: 40px;
  animation-name: shrink;
  animation-duration: 70ms;
  animation-timing-function: linear;
  animation-direction: normal;
  margin-left: 100px;
  margin-top: 340px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.go-back {
  height: 40px;
  animation-name: expand;
  animation-duration: 70ms;
  animation-timing-function: linear;
  margin-left: 90px;
  margin-top: 330px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
}

footer {
  /* width: 265px;
  height: 20px; */
  display: flex;
  background-color: #070707;
  margin-top: 0px;
  margin-left: 1610px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 28px;
  border-radius: 15px;
}
.show {
  animation-name: appear;
  animation-duration: 1300ms;
  animation-timing-function: linear;
  background-color: white;
}
#link {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
#link:hover{
  text-underline-offset: 3px;
  text-decoration: underline;
}
.hide{
  background-color: black;
}
@keyframes shrink {
  0% {
    height: 40px;
    margin-left: 90px;
    margin-top: 330px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  }
  100% {
    height: 40px;

    margin-left: 100px;
    margin-top: 340px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
@keyframes expand {
  0% {
    height: 40px;
    margin-left: 100px;
    margin-top: 340px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  100% {
    height: 40px;
    margin-left: 90px;
    margin-top: 330px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  }
}
@keyframes appear {
  0% {
    margin-left: 1860px;
    background-color: white;
  }

  100% {
    margin-left: 1610px;
    background-color: white;
  }
}
